 <h2>Corals</h2>

<p> <a  href="/coral/status/Mature"> Find Corals by Mature Status </a>
</p>
<p>
 <a  href="/coral/status/Growing"> Find Corals by Growing Status </a>
</p>




<table>
<tr>
<th>Species</th>
<th>Name</th>
<th>Plant date</th>
<th>Coral status</th>
<th>Reef</th>
</tr>
<% @corals.each do |coral| %>
<tr>


<td><%= coral.species() %></td>
<td><%= coral.name() %></td>
<td><%= coral.plant_date() %></td>
<td><%= coral.status() %></a></td>
<td><%=Reef.find_by_id(coral.reef_id()).name %></td>

<td><a href="/coral/<%= coral.id %>"> Edit Coral Information </a></td>

<td><form method="post" action="/coral/<%= coral.id %>/delete">
  <input type="submit" value="Remove Coral"/>
</form>
</td>
</tr>

<% end %>
</table>
